.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;

  @media (orientation: portrait) {
    left: -1rem;
    right: -1rem;
  }

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    position: absolute;
    display: block;
  }
}

@keyframes suitcase {
  to {
    bottom: 13.5%;
    opacity: 1;
    width: 439px;
    height: auto;
  }
}

@keyframes suitcase-tablet {
  to {
    bottom: 10.5%;
    opacity: 1;
    width: 350px;
    height: auto;
  }
}

@keyframes suitcase-mobile {
  to {
    bottom: 13.5%;
    opacity: 1;
    width: 200px;
    height: auto;
  }
}

.result__suitcase-img {
  bottom: 0;
  left: 47%;
  width: 0;
  height: 0;
  z-index: 5;
  transform: translateX(-50%);

  animation-name: suitcase;
  animation-duration: 0.5s;
  animation-delay: 0.2s; 
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  @media (max-width: $tablet) and (orientation: landscape) {
    animation-name: suitcase-tablet;
  }

  @media (max-width: $mobile) {
    animation-name: suitcase-mobile;
  }
}

@keyframes leaf-right-appear {
  to {
    opacity: 1;
  }
}

@keyframes leaf-right-rotate1 {
  from {
    transform: rotate(-7deg);
  }

  to {
    transform: rotate(10deg);
  }
}

@keyframes leaf-right-rotate2 {
  from {
    transform: rotate(10deg);
  }

  to {
    transform: rotate(-3deg);
  }
}

@keyframes leaf-right-rotate3 {
  from {
    transform: rotate(-3deg);
  }

  to {
    transform: rotate(3deg);
  }
}

@keyframes leaf-right-rotate4 {
  from {
    transform: rotate(3deg);
  }

  to {
    transform: rotate(-1deg);
  }
}

@keyframes leaf-right-rotate5 {
  from {
    transform: rotate(-1deg);
  }

  to {
    transform: rotate(1deg);
  }
}

@keyframes leaf-right-rotate6 {
  from {
    transform: rotate(1deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.result__leaf-blue1-img {
  top: 39%;
  left: 50%;
  width: 360px;
  height: auto; 
  transform-origin: 0% 75%;
  opacity: 0;

  animation-name: leaf-right-appear, leaf-right-rotate1, leaf-right-rotate2, leaf-right-rotate3, leaf-right-rotate4, leaf-right-rotate5, leaf-right-rotate6;
  animation-duration: 0.4s, 0.4s, 0.4s, 0.4s, 0.4s, 0.4s, 0.4s;
  animation-delay: 0.5s, 0.5s, 0.9s, 1.3s, 1.7s, 2.1s, 2.5s; 
  animation-timing-function: linear, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  animation-fill-mode: forwards, none, none, none, none, none, forwards;

  @media (max-width: $tablet) and (orientation: landscape) {
    top: 54%;
    left: 53%;
    width: 230px;
  }

  @media (max-width: $mobile) {
    top: 65%;
    left: 54%;
    width: 150px;
  }
}

@keyframes leaf-left-appear {
  to {
    opacity: 1;
  }
}

@keyframes leaf-left-rotate1 {
  from {
    transform: rotate(25deg);
  }

  to {
    transform: rotate(-23deg);
  }
}

@keyframes leaf-left-rotate2 {
  from {
    transform: rotate(-23deg);
  }

  to {
    transform: rotate(7deg);
  }
}

@keyframes leaf-left-rotate3 {
  from {
    transform: rotate(7deg);
  }

  to {
    transform: rotate(-6deg);
  }
}

@keyframes leaf-left-rotate4 {
  from {
    transform: rotate(-6deg);
  }

  to {
    transform: rotate(3deg);
  }
}

@keyframes leaf-left-rotate5 {
  from {
    transform: rotate(3deg);
  }

  to {
    transform: rotate(-2deg);
  }
}

@keyframes leaf-left-rotate6 {
  from {
    transform: rotate(-2deg);
  }

  to {
    transform: rotate(1deg);
  }
}

@keyframes leaf-left-rotate7 {
  from {
    transform: rotate(1deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.result__leaf-blue2-img {
  top: 54%;
  right: 56%;
  width: 334px;
  height: auto;
  transform-origin: 100% 50%;
  transform: rotate(25deg);
  opacity: 0;

  animation-name: leaf-left-appear, leaf-left-rotate1, leaf-left-rotate2, leaf-left-rotate3, leaf-left-rotate4, leaf-left-rotate5, leaf-left-rotate6, leaf-left-rotate7;
  animation-duration: 0.4s, 0.4s, 0.4s, 0.4s, 0.4s, 0.4s, 0.4s, 0.4s;
  animation-delay: 0.5s, 0.5s, 0.9s, 1.3s, 1.7s, 2.1s, 2.5s, 2.9s; 
  animation-timing-function: linear, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  animation-fill-mode: forwards, none, none, none, none, none, none, forwards;

  @media (max-width: $tablet) and (orientation: landscape) {
    top: 63%;
    right: 58%;
    width: 220px;
  }

  @media (max-width: $mobile) {
    top: 71%;
    right: 57%;
    width: 140px;
  }
}

@keyframes leaf-green-appear {
  to {
    opacity: 1;
  }
}

@keyframes leaf-green-rotate1 {
  from {
    transform: rotate(-7deg);
  }

  to {
    transform: rotate(10deg);
  }
}

@keyframes leaf-green-rotate2 {
  from {
    transform: rotate(10deg);
  }

  to {
    transform: rotate(-3deg);
  }
}

@keyframes leaf-green-rotate3 {
  from {
    transform: rotate(-3deg);
  }

  to {
    transform: rotate(3deg);
  }
}

@keyframes leaf-green-rotate4 {
  from {
    transform: rotate(3deg);
  }

  to {
    transform: rotate(-1deg);
  }
}

@keyframes leaf-green-rotate5 {
  from {
    transform: rotate(-1deg);
  }

  to {
    transform: rotate(1deg);
  }
}

@keyframes leaf-green-rotate6 {
  from {
    transform: rotate(1deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.result__leaf-green-img {
  top: 58%;
  left: 49%;
  width: 418px;
  height: auto;
  opacity: 0;
  transform-origin: 0% 80%;

  animation-name: leaf-green-appear, leaf-green-rotate1, leaf-green-rotate2, leaf-green-rotate3, leaf-green-rotate4, leaf-green-rotate5, leaf-green-rotate6;
  animation-duration: 0.4s, 0.4s, 0.4s, 0.4s, 0.4s, 0.4s, 0.4s;
  animation-delay: 0.6s, 0.6s, 1.0s, 1.4s, 1.8s, 2.2s, 2.6s; 
  animation-timing-function: linear, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  animation-fill-mode: forwards, none, none, none, none, none, forwards;

  @media (max-width: $tablet) and (orientation: landscape) {
    top: 68%;
    left: 53%;
    width: 240px;
  }

  @media (max-width: $mobile) {
    top: 73%;
    left: 51%;
    width: 160px;
  }
}

@keyframes flamingo-appear {
  to {
    opacity: 1;
    bottom: 32%;
  }
}

@keyframes flamingo-appear-tablet {
  to {
    opacity: 1;
    bottom: 25%;
  }
}

@keyframes flamingo-appear-mobile {
  to {
    opacity: 1;
    bottom: 23%;
  }
}

@keyframes flamingo-motion {
  to {
    bottom: 30.5%;
  }
}

@keyframes flamingo-motion-tablet {
  to {
    bottom: 23.5%;
  }
}

@keyframes flamingo-motion-mobile {
  to {
    bottom: 21.5%;
  }
}

@keyframes flamingo-rotation {
  to {
    transform: translate(50%, 50%) rotate(-5deg);
  }
}

.result__flamingo-img {
  bottom: 0;
  right: 58%;
  width: 302px;
  height: auto;
  z-index: 10;
  transform: translate(50%, 50%);
  transform-origin: 60% 65%;
  opacity: 0;

  animation-name: flamingo-appear, flamingo-motion, flamingo-rotation;
  animation-duration: 0.5s, 1.2s, 1.2s;
  animation-delay: 0.2s, 0.7s, 0.7s; 
  animation-timing-function: ease, ease, ease-in-out;
  animation-fill-mode: forwards, none, none;
  animation-iteration-count: 1, infinite, infinite;
  animation-direction: normal, alternate, alternate;

  @media (max-width: $tablet) and (orientation: landscape) {
    width: 220px;
    animation-name: flamingo-appear-tablet, flamingo-motion-tablet, flamingo-rotation;
  }

  @media (max-width: $mobile) {
    width: 140px;
    animation-name: flamingo-appear-mobile, flamingo-motion-mobile, flamingo-rotation;
  }
}

.result__title {
  margin: 0 auto 2rem;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  span {
    position: relative;
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    color: $c-dark;

    @media (min-width: $stop-scaling) {
      margin-left: 15px;
      width: 40px;
      height: 40px;
    }

    &::before {
      @include center;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
      z-index: -1;
    }
  }

  svg {
    @include center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    span::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    span::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    span {
      color: $c-light;
    }

    span::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.result__form {
  margin-top: auto;
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}
